.hero{
    position: relative;
}

.hero-container{
    position: absolute;
    top: 5px;
    margin-top: 5px;
    
}

.aside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 741px;
    height: 537px;
    position: absolute;
    top: 200px;
    left: 20px;
    background-color: white;
    padding: 40px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  margin: var(--margin-left)
}

.hero-headline{
    font: var(--font-hero);
    font-weight: bold;
    font-size: 39px;
    color: black;
    width: 521px;
}

.hero-paragraf{
    font: var(--font-paragraf);
    font-size: 20px;
    width: 515px;
}

.hero-button{
    width: 250px;
    height: 65px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 10px;
   border: none;
}

span{
    color: var(--primary-color)
}